<a href="https://colab.research.google.com/github/ilikemichael/ml1216/blob/main/news.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
pd.options.display.max_rows = 10
pd.options.display.max_colwidth =10

In [33]:
import zipfile
f = zipfile.ZipFile("/content/drive/MyDrive/class/AI python/周凡剛機器學習/chinese_news_trans.zip")
f.extractall()
f = zipfile.ZipFile("/content/drive/MyDrive/class/AI python/周凡剛機器學習/chinese_news_test.zip")
f.extractall()

In [ ]:
import os
import glob
import pandas as pd
def load_data(base):
    datas = {
        "content":[],
        "category":[]
    }
    for dn in glob.glob("{}/*".format(base)):
        small = os.path.join(dn, "*.txt")
        big = os.path.join(dn, "*.TXT")
        for fn in glob.glob(small) + glob.glob(big):
            with open(fn, encoding="utf-8") as f:
                news = f.read()
                datas["content"].append(news)
                cat = os.path.split(dn)[-1]
                datas["category"].append(cat)
                print(fn)
    return pd.DataFrame(datas)
train = load_data("chinese_news_trans")
test = load_data("chinese_news_test")

In [35]:
test

       content category
0    日月光華 -...      計算機
1    日月光華 -...      計算機
2    日月光華 -...      計算機
3    日月光華 -...      計算機
4    日月光華 -...      計算機
..         ...      ...
96   日月光華 -...       經濟
97   日月光華 -...       經濟
98   日月光華 -...       經濟
99   日月光華 -...       經濟
100  日月光華 -...       經濟

[101 rows x 2 columns]

In [40]:
{1,2,4,7,3,6,7,1,2,4} #set 不會列出重複
(255, 128, 100) #tuple簡化的字典,自動把位置當欄位
s = "banana" #想把banana每個字串往後移兩格
result = ""
for c in s :
    n = ord(c) + 2
    n = (n-97) % 26 + 97
    result = result + chr(n)
result

'dcpcpc'

In [49]:
#字典的例子,假設有一個字典, 數a出現幾個
dic = {
    "a":5,
    "b":10,
    "c":20
}
new = {}
for k, v in dic.items():
    new[k.upper()] = v
print(new)
print({k.upper():v for k,v in dic.items()})

{'A': 5, 'B': 10, 'C': 20}
{'A': 5, 'B': 10, 'C': 20}

In [46]:
#enmerate 練習
for k in enumerate([30, 50, 60]):
    print(k)
{k:i for i, k in enumerate([20, 50, 60])}

(0, 30)
(1, 50)
(2, 60)

{20: 0, 50: 1, 60: 2}